/*Global*/
.symbols{
    color: red;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Top */
.container #top .menu-bar{
    background-color: #343A40;
    color: white;
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0;
}
.container #top .menu-bar ul{
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}
.container #top .menu-bar ul li{
    height: 30px;
    margin: 20px;
    padding: 10px;
}

.container #top .menu-bar .navi-left li{
    /* border: 1px solid red; */
    display: inline;   
}
.container #top .menu-bar .navi-right li{
    /* border: 1px solid blue; */
    /* margin-right: 50px; */
    display: inline; 
}
.container #top .menu-bar .navi-left {
    /* border: 1px solid red; */
    display: inline; 
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 570px;
    height: 45px;
}
.container #top .menu-bar .navi-right {
    /* border: 1px solid red; */
    display: inline; 
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    width: 120px;
    height: 45px;
}
.container #top .menu-bar .navi-right .navi-right-container{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.container #top .menu-bar .navi-left .navi-left-container{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.container #top .menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
/* Mid */
body{
    background-color: #FFF0E5;
}
.container #mid{
    margin-top: 55px;
    margin-bottom: 55px;   
}

.container #mid .wrapper{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
    box-shadow: 10px 10px #888888;
    width: 500px;
}

/* Bottom */
.container #bottom{
    background-color: #343A40; 
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%; 
}
.container #bottom h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}

/* ------------------------- Add User ------------------------- */
.container #mid .h1_add{
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    color: #3A10E5;
}
.container #mid .wrapper .content{
    padding-left: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container #mid .wrapper .content p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #5533FF;
}

.container #mid .wrapper .content input[type="text"]{
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    text-indent: 5px;
}

.container #mid .wrapper .content input[type="submit"]{
    border: 1px solid #3A10E5;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: #3A10E5;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.container #mid .wrapper .flex-container{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: -10px;
}

.container #mid .wrapper .flex-child{
    margin-right: 15px;
}

/* pseudo */
.container #mid .wrapper .content input[type="submit"]:hover{
    border: 1px solid #5533FF;
    background-color: #5533FF;
}
.container #mid .wrapper .content input[type="text"]:hover{
    border: 1px solid #3A10E5;
}

.container #mid .wrapper .content input[type="text"]:focus{
    border: 0px solid #3A10E5;
    outline: 2px solid #3A10E5;
}

/* ------------------------- List ------------------------- */
.container #mid .wrapper-list #table_userlist thead{
    background-color: rgb(240, 240, 240);
    height: 35px;
    font-size: 18px;
    color: #5533FF;
}
.container #mid .wrapper-list #table_userlist tbody{
    background-color: white;
    height: 35px;
    font-size: 16px;
}

.container #mid .wrapper-list #table_userlist{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
    border: 1px solid black;
    text-align: center;
    table-layout: auto;
    
    box-shadow: 10px 10px #888888;
}
/* table content */
.container #mid .wrapper-list #table_userlist thead .gender{
    width: 100px;
}
.container #mid .wrapper-list #table_userlist thead .age{
    width: 100px;
}
.container #mid .wrapper-list #table_userlist thead .phone{
    width: 200px;
}